{
  "mongoDbName"     : "Hungrybird",
  "mongoHost"       : "localhost",
  "mongoPort"       : 27017,

  "maxDbSize"       : 3072000000,
  "maxDbRecords"    : 3000000,

  "domainHost"      : "yourdomain.com",

  "trackingPort"    : 80,
  "maxConnections"  : 2000,
  "dashboardPort"   : 8080,
  "workerPoolSize"  : 4,
  "workerUser"      : "hungrybird",

  "enableLiveFeed"  : true,
  "liveFeedPort"    : 8000,

  "debugMode"       : false,

  "capistrano"      : { "repository"       : "git://github.com/coffeesam/Hungrybird.git",
                        "hungrybird_host" : "hungrybird.yourdomain.com" }
}
